$background: #0d1117;
$foreground: #b0b4bc;

$background-alt: #232320;

$black: #000;
$white: #fff;

$green: #98971a;
$lightgreen: #b8bb26;
$yellow: #d79921;
$lightyellow: #fabd2d;
$red: #cc241d;
$lightred: #fb4934;
$blue: #0db7ed;
$lightblue: #83a598;
$magenta: #b16286;
$lightmagenta: #d3869b;
$cyan: #689d6a;
$lightcyan: #8ec07c;
$gray: #928374;
$lightgray: #a89984;

$warning: $yellow;
$error: $red;

$urgent: $red;
